<div class="container" ng-cloak ng-controller="AppController">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li ng-class="{true:'active', false:'inactive'}[DECK_STATUS == 'Create']">
                <a href="#!/home">Create</a>
            </li>
            <li ng-class="{true:'active', false:'inactive'}[DECK_STATUS == 'Draft']">
                <a href="#!/home" ng-click="deckStatus('Draft')">Draft</a>
            </li>
            <li ng-class="{true:'active', false:'inactive'}[DECK_STATUS == 'Published']">
                <a href="#!/home" ng-click="deckStatus('Published')">Published</a>
            </li>
            <li ng-class="{true:'active', false:'inactive'}[DECK_STATUS == 'UnPublished']">
                <a href="#!/home" ng-click="deckStatus('UnPublished')">UnPublished</a>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-4 phContainer" ng-controller="PhoneController">
            <div class="phCentered">
                <button class=" navBtnContainer navBtn glyphicon glyphicon-chevron-left" ng-disabled="cardIndex == 0 "
                        ng-click="showPrevCard()"></button>
                <button class="phCentered navBtnContainer navBtn glyphicon glyphicon-chevron-right"
                        ng-disabled="cardIndex == SelectedDeck.cards.length-1" ng-click="showNextCard()"></button>
            </div>
            <div class="phone-layout-component">
                <!--<img class="phone-layout-img" src="rsc/img/PhoneLayout_Nexus6P.png">-->
                <div class="phone-layout-img">
                    <div class="phone-layout" ng-class="getTemplateClass(SelectedDeck.cards[cardIndex].template)">
                        <div class="media-view" ng-click="update(constants.MEDIA_URL,SelectedDeck.cards[cardIndex].media.mediaUrl)">
                            <img class="media-view-img" ng-src="{{SelectedDeck.cards[cardIndex].media.mediaUrl}}"/>
                        </div>
                        <div class="title" ng-click="update(constants.TITLE,SelectedDeck.cards[cardIndex].title)">
                            {{SelectedDeck.cards[cardIndex].title}}
                        </div>
                        <div class="description"
                             ng-click="update(constants.DESCRIPTION, SelectedDeck.cards[cardIndex].content)">
                            {{SelectedDeck.cards[cardIndex].content.slice(0,500)}}
                        </div>
                        <div class="source-link">
                            <img class="article-view-img" ng-src="{{SelectedDeck.cards[cardIndex].articleSourceLogo}}"/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="custom-modal" ng-if="isDialogVisible" ng-cloak>
                <div class="custom-modal-background">
                </div>
                <div class="modal-dialog" role="document">
                    <div class="modal-content" ng-if="dialogTitle == constants.MEDIA_URL">
                        <div class="modal-header">
                            <button type="button" class="close" ng-click="closeDialog()" data-dismiss="modal"
                                    aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">{{dialogTitle}}</h4>
                        </div>
                        <div class="modal-body">
                            <textarea class="text-success" type="text" ng-model="editObj[dialogTitle]"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal"
                                    ng-click="updateMed(dialogTitle,'mediaUrl')">Ok
                            </button>
                        </div>
                    </div>

                    <div class="modal-content" ng-if="dialogTitle == constants.TITLE">
                        <div class="modal-header">
                            <button type="button" class="close" ng-click="closeDialog()" data-dismiss="modal"
                                    aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">{{dialogTitle}}</h4>
                        </div>
                        <div class="modal-body">
                            <textarea class="text-success" type="text" ng-model="editObj[dialogTitle]"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal"
                                    ng-click="updateVal(dialogTitle,'title')">Ok
                            </button>
                        </div>
                    </div>

                    <div class="modal-content" ng-if="dialogTitle == constants.DESCRIPTION">
                        <div class="modal-header">
                            <button type="button" class="close" ng-click="closeDialog()" data-dismiss="modal"
                                    aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">{{dialogTitle}}</h4>
                        </div>
                        <div class="modal-body">
                            <textarea class="text-justify" ng-model="editObj[dialogTitle]"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal"
                                    ng-click="updateVal(dialogTitle,'content')">Ok
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-8 center">
            <div ng-controller="CarouselController">
                <div class="row" style="height:130px">
                    <slick ng-if="dataLoaded" data="dataLoaded" style="height:inherit" infinite="false"
                           slides-to-show="5" slides-to-scroll="1">
                        <div ng-repeat="item in AllDecks" class="carousel-item" ng-click="onSelectEvent(item.deckId)"
                             ng-style="{ 'border' : (item.deckId == SelectedDeck.deckId) ? '3px solid red' : '3px solid #eee' }">
                            <!--<div class="carousel-item-text">{{item.displayName}}</div>-->
                            <img class="carousel-item-image" ng-src="{{item.cards[0].media.mediaUrl}}"/>
                        </div>
                        <button type="button" class="slick-prev" tabindex="-1" style="display: block;">Previous</button>
                        <button type="button" class="slick-next" tabindex="-1" style="display: block;">Next</button>
                    </slick>
                </div>
                <div class="row" style="position:relative;z-index:9998">
                    <a style="float:left;" role="button" ng-click="previousItems()"> Prev Set </a>
                    <a style="float:right" role="button" ng-click="nextItems()"> Next Set </a>
                </div>
            </div>
            <br/><br/>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <input type="text" class="form-control customSelectBox" id="approverRanking"
                               placeholder="ranking"
                               ng-model="SelectedDeck.approver.ranking">
                        <label for="approverRanking" class="light-label">Ranking</label>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control customTextBox" id="liveDays" placeholder="live days"
                               ng-model="SelectedDeck.approver.liveDays">
                        <label for="liveDays" class="light-label">Live Days</label>
                    </div>
                    <div class="form-group">
                <textarea class="form-control customTextArea" id="approverComments" placeholder="approver comments"
                          ng-model="SelectedDeck.approver.comments"></textarea>
                        <label for="approverComments" class="light-label">Approver Comments</label>
                    </div>

                </div>

                <div class="col-xs-6">
                    <div class="form-group">
                        <input type="text" class="form-control customSelectBox" id="templateType" placeholder="ranking"
                               ng-model="SelectedDeck.cards[cardIndex].template">
                        <label for="templateType" class="light-label">Template Type</label>
                    </div>
                    <div class="form-group">
                        <!-- <async-input [url]="tags_url" placeholder="Tags"  responseKey="tag" [selectedText]="SelectedDeck.tags" ></async-input> -->
                        <tags-input id="tags" ng-model="SelectedDeck.tags" display-property="name" placeholder="Tags"
                                    replace-spaces-with-dashes="false">
                            <auto-complete source="loadTags($query)"
                                           min-length="0"
                                           load-on-focus="true"
                                           load-on-empty="true"
                                           max-results-to-show="32"
                                           template="custom-template"></auto-complete>
                        </tags-input>
                        <label for="tags" class="light-label">Tags</label>

                        <script type="text/ng-template" id="custom-template">
                            <div class="left-panel">
                                <span>{{data.name}}</span>
                            </div>
                        </script>

                    </div>
                    <div class="form-group">

                        <tags-input id="category" ng-model="SelectedDeck.categories" display-property="name"
                                    placeholder="Categories"
                                    replace-spaces-with-dashes="false">
                            <auto-complete source="loadCategories($query)"
                                           min-length="0"
                                           load-on-focus="true"
                                           load-on-empty="true"
                                           max-results-to-show="32"
                                           template="custom-template"></auto-complete>
                        </tags-input>
                        <label for="category" class="light-label">Category</label>

                    </div>

                    <button ng-click="removeCard()" ng-disabled="SelectedDeck.cards.length <= 1">Remove Card</button>
                    <button ng-click="removeDeck()">Remove Deck</button>
                    <button ng-click="updateCard()">Update Card</button>
                    <button ng-click="updateDeck()">Publish Deck</button>
                </div>
            </div>
        </div>
    </div>
</div>