<div class="container" ng-cloak ng-controller="AppController">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li ng-class="{true:'active', false:'inactive'}[getDeckStatus() == 'Create']">
                <a href="#!/home" ng-click="setDeckStatus('Create')">Create</a>
            </li>
            <li ng-class="{true:'active', false:'inactive'}[getDeckStatus() == 'Draft']">
                <a href="#!/home" ng-click="setDeckStatus('Draft')">Draft</a>
            </li>
            <li ng-class="{true:'active', false:'inactive'}[getDeckStatus() == 'Published']">
                <a href="#!/home" ng-click="setDeckStatus('Published')">Published</a>
            </li>
            <li ng-class="{true:'active', false:'inactive'}[getDeckStatus() == 'UnPublished']">
                <a href="#!/home" ng-click="setDeckStatus('UnPublished')">UnPublished</a>
            </li>
        </ul>
    </div>
    <div ng-include="getDeckStatus() == 'Create' ? 'create.htm' : 'card.htm'"></div>
</div>